<h1>All Events</h1>

<% if @future_events.any? %>

  <h3>UPCOMING EVENTS</h3>

<% end %>

<%= render @future_events%>

<% if @past_events.any? %>

  <h3>PAST EVENTS</h3>

  <%= render @past_events, past: true%>
  
<% end %>