<h1>All Events</h1>

<% if future_events(@events).any? %>

  <h3>Upcoming events</h3>

<% end %>

<%= render future_events(@events)%>

<% if past_events(@events).any? %>

  <h3>Past events</h3>

  <%= render past_events(@events), past: true%>
  
<% end %>