<h1>Event: <%= @event.id %></h1>
<br>
<h3><%= @event.location %>
</h3>
<br>
<p>
  Time:  <%= @event.date %>
</p>
<h3>Attendees</h3>
<ul>
  <% @event.attendees.each do |attendee| %>
    <li>
        <%= attendee.name %>
    </li>
  <% end %>
</ul>